body{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    font-size: 1em;
}

.feedback-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    max-width: 400px;
    padding:50px;
    height: 400px;
    position: relative;
}

.rating-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    top:30%;
}

.rating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 20px;
    width: 100px;
    padding: 10px;

}

.rating.active{
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;;
}

.sendBtn{
    padding:10px;
    background-color: black;
    color: white;
    border: none;
    width: 10rem;
    font-size: 1rem;
    font-weight: 100;
    position: absolute;
    top:80%;
}

.response-container{
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    padding:50px;
    display: none;
}